body{
    margin: 0px;


    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-image: url('https://i.postimg.cc/tThywdb6/image-2025-06-02-023340602.png');
}
.topnav{
    overflow: hidden;
    background-color: #333
    
}
.topnav a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px; 
}
.topnav a:hover {
    background-color: #ddd;
    color: black; 
}
.topnav a.active {
    background-color: #00b7ff;
    color: white; 
}
h1{
    margin: 10px;
    color: whitesmoke;
}
p{
    padding-left: 10px;
    align-content: center;
    color:whitesmoke;
}
img{
    padding-left: 10px;
}
.imageflex {
    display: flex;
}

.imageflexcontent {
    margin-left: 10px;
    margin-top: -700px;
}
.imageflexcontent1 {
    margin-left: -257px;
    margin-top: -200px;
}
.imageflexcontent2 {
    margin-left: -000px;
    margin-top: 200px;
}